{% extends "common/common.html" %}
{% load static %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}

    
      <div class="form_container">
        <div class="form_control">
            <label for="First Name">Username: </label>
                <input id="First Name" name="Username" placeholder="Enter Username"/>

                <div class="form_container">
                  <div class="form_control">
                      <label for="First Name">Password: </label> 
                          <input id="Password", type="password" name="Username" placeholder="Password"/>
                          <div class="cjg"><button type="submit"> login</button></div>
                    <button type="submit">SignUp</button>

    
    
{% endblock %}