{% extends './common/base.html' %}
{% load static %}
{% block content %}
<main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading" >
                   <br><br><br><br> <h1 style="color:rgb(35, 243, 16);"><u>Welcome to the website</u></h1>
                </div>

                <h3 style="color: rgb(223, 171, 26) ;">Here you can store your daily task information</h3><br>
                <h3 style="color:  rgb(223, 171, 26) ;">Your data is safe</h3>


{% endblock %}