{% extends './common/base.html' %}
{% load static %}
{% block content %}

<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <h2 style="text-align: center;">Add Project Form</h2>
    <form action="{% url 'TaskAdd' %}" method="post">
        {% csrf_token %}
        
        Name: {% render_field form.name %}<br>
        Description: {% render_field form.description %}<br>
        start_date: {% render_field form.start_date %}<br>
        end_date: {% render_field form.end_date %}<br>
        <button type="submit">Submit</button>

        

    </form>    
    </section>
    </main>
{% endblock %}
