{% extends './common/base.html' %}
{% load static %}
{% block content %}
<main class="page projects-page">
    <section class="portfolio-block projects-cards">
        <div class="container">
            <div class="heading">
                <h2>Title: {{fetchData.name}}</h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card border-0"><a href="#"><img class="card-img-top scale-on-hover" src="{% static 'img/nature/image3.jpg' %}" alt="Card Image"></a>
                        <div class="card-body">
                            <h6><a href="#"></a></h6>
                            <span>name:  {{fetchData.name}}</span><br/>
                            <span>Descriptions:  {{fetchData.description}}</span><br />
                            <span>Start Date:  {{fetchData.start_date}}</span><br />
                            <span>End Date:  {{fetchData.end_date}}</span><br />

                            <span>Link: {{fetchData.link}}</span>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
</main>

{% endblock %}