{% extends './common/base.html' %}
{% load static %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="img/hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="hero-text">
                        <span>October 2022, Mukesh Patel School of Technology Management & Engineering, India</span>
                        <h2>Now engage with your Business<br /> Like never before</h2>
                        <!-- <a href="#" class="primary-btn">Buy Ticket</a> -->
                    </div>
                </div>
                <div class="col-lg-5">
                    <img src="img/hero-right.png" alt="">
                </div>
            </div>
        </div>
    </section>
    
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="si-pic">
                        <img src="img/speakers/speaker-1.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="si-text">
                        <div class="si-title">
                            <h4>Wiz Khalifa</h4>
                            <span>Artist</span>
                        </div>
                        <div class="si-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="si-pic">
                        <img src="img/screening/football.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="si-text">
                        <div class="si-title">
                            <h4>FC Bayern Munich vs Real Madrid</h4>
                            <span>Football</span>
                            <span>Venue - THE STABLES  Mumbai</span>
                        </div>
                        <div class="si-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="si-pic">
                        <img src="img/Theatre/theatre-3.jpg" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="si-text">
                        <div class="si-title">
                            <h4>STAND UP</h4>
                            <span>Venue - VEDA FACTORY, Mumbai</span>
                        </div>
                        <div class="si-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>

                    </div>
                </div>
            </div>
{% endblock %}
           