
{% extends './common/base.html' %}
{% load static %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Events to sponsor</h2>
                        <div class="bt-option">
                            <a href="{% url 'home' %}">Home</a>
                            <span>Our Speakers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Speaker Section Begin -->
    <section class="speaker-section spad">
        <div class="uk-width-1-3@m uk-width-1-1@s uk-first-column">
<div class="breadcrumb-text-section breadcrumb-text-background-white breadcrumb-text-margin-top breadcrumb-text-padding-remove breadcrumb-text">
<form id="search-form" class=" uk-margin-left uk-margin-right -stacked uk-margin-top uk-margin-large-bottom" action="/discover?lat=19.0759837&amp;lng=72.8776559" method="post">
<input type="hidden" name="_csrf" value="PTtRmtfzPkgEkIUOkw954B43HRxKJ61O8TCI-54ZmeleeBiosKJzcGH_t2LjRzCjaEMpdTlm7Cinb8q-6G3uhg=="><div class="form-group field-place-searchbox required has-error">
<label class="uk-form-label" for="place-searchbox">Location</label>
<input type="text" id="place-searchbox" class="uk-width-1-1 uk-form-large uk-input pac-target-input" name="SearchForm[location]" value="" maxlength="255" aria-required="true" placeholder="Enter a location" autocomplete="off" aria-invalid="true">
<p class="help-block help-block-error">Location cannot be blank.</p>
</div> <hr>
<div class="form-group field-searchform-type">
<label class="uk-form-label" for="searchform-type">Event Type</label>
<select id="searchform-type" class="uk-width-1-1 uk-form-large uk-select" name="SearchForm[type]">
<option value="">Select Type</option>
<option value="concert">Concert</option>
<option value="party">Party</option>
<option value="screening">Screening</option>
</select>
<p class="help-block help-block-error"></p>
</div> <hr>

<label class="uk-form-label">Budget</label>
<div uk-grid="" class="uk-grid">
<div class="uk-width-1-2 uk-first-column">
<div class="form-group field-searchform-budget_min">
<label class="uk-form-label" for="searchform-budget_min">From</label>
<select id="searchform-budget_min" class="uk-width-1-1 uk-form-large uk-select" name="SearchForm[budget_min]">
<option value="">From</option>
<option value="0" selected="">$0</option>
<option value="250">$250</option>
<option value="500">$500</option>
<option value="1000">$1,000</option>
<option value="2500">$2,500</option>
<option value="5000">$5,000</option>
<option value="10000">$10k</option>
<option value="25000">$25k</option>
<option value="50000">$50k</option>
<option value="100000">$100k</option>
</select>
<p class="help-block help-block-error"></p>
</div> </div>
<div class="uk-width-1-2">
<div class="form-group field-searchform-budget_max">
<label class="uk-form-label" for="searchform-budget_max">To</label>
<select id="searchform-budget_max" class="uk-width-1-1 uk-form-large uk-select" name="SearchForm[budget_max]">
<option value="">To</option>
<option value="250">$250</option>
<option value="500">$500</option>
<option value="1000">$1,000</option>
<option value="2500">$2,500</option>
<option value="5000">$5,000</option>
<option value="10000">$10k</option>
<option value="25000" selected="">$25k</option>
<option value="50000">$50k</option>
<option value="100000">$100k</option>
</select>
<p class="help-block help-block-error"></p>
</div> </div>
</div>
<hr>
<label class="uk-form-label">Attendees</label>
<div uk-grid="" class="uk-grid">
<div class="uk-width-1-2 uk-first-column">
 <div class="form-group field-searchform-audience_min">
<label class="uk-form-label" for="searchform-audience_min">From</label>
<select id="searchform-audience_min" class="uk-width-1-1 uk-form-large uk-select" name="SearchForm[audience_min]">
<option value="">From</option>
<option value="0" selected="">0</option>
<option value="51">51</option>
<option value="101">101</option>
<option value="251">251</option>
<option value="501">501</option>
<option value="1001">1001</option>
<option value="2501">2501</option>
<option value="5001">5001</option>
<option value="10001">10001</option>
</select>
<p class="help-block help-block-error"></p>
</div> </div>
<div class="uk-width-1-2">
<div class="form-group field-searchform-audience_max">
<label class="uk-form-label" for="searchform-audience_max">To</label>
<select id="searchform-audience_max" class="uk-width-1-1 uk-form-large uk-select" name="SearchForm[audience_max]">
<option value="">To</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="250">250</option>
<option value="500">500</option>
<option value="1000">1000</option>
<option value="2500">2500</option>
<option value="5000">5000</option>
<option value="10000">10000</option>
<option value="more" selected="">more</option>
</select>
<p class="help-block help-block-error"></p>
</div> </div>
</div>
<hr>
</form> </div>





</div>

    </section>
    